<h1>Password Generator</h1>
<div>
  <label>Enter length</label>
  <input (input)="onChangeLength($event)"/>
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="onChangeUserLetters()"/>
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="onChangeUserNumbers()"/>
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="onChangeUserSymbols()"/>
</div>

<div>
  <button (click)="onButtonClick()">Genrate</button>
</div>

<div>
  <label>Your Password</label>
  <input type="text" [value]="password"/>
</div>

