<div class="columns is-mobile container is-max-desktop" style="margin-top: 30px;">
  <div class="column is-11 is-offset-5 notification is-primary">


    <h1>Password Generator</h1>

    <div class="field">
      <label class="label">Enter length</label>
      <div class="control">
        <input (input)="onChangeLength($event)" />
      </div>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" (change)="onChangeUserLetters()" />
        Use Letters</label>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" (change)="onChangeUserNumbers()" />
        Use Numbers</label>
    </div>

    <div class="field">
      <label class="checkbox">
        <input type="checkbox" (change)="onChangeUserSymbols()" />
        Use Symbols</label>
    </div>

    <div>
      <button (click)="onButtonClick()" class="button is-info"
        [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))">Genrate</button>
    </div>

    <div class="field" *ngIf="password">
      <label class="label">Your Password</label>
      <div class="control">
        <input type="text" [value]="password" />
      </div>
    </div>
  </div>
</div>